h2,
p,
button {
    font-family: var(--font-body);
}

h1 {
    font-family: var(--font-title);
    font-size: 3.2rem;
    font-weight: 400;
    white-space: pre-line;
}

h2 {
    font-size: 2.4rem;
    font-weight: 800;
}

.h2-title {
    font-family: var(--font-title);
    font-size: 3.2rem;
    font-weight: 400;
    white-space: pre-line;
}

p,
button {
    font-size: 1.6rem;
}

button {
    background-color: #fff;
    color: var(--primary-color);
}

.other-button {
    background-color: var(--primary-color);
    color: #fff;
}

header {
    color: #fff;
}

.section-highlighted {
    background-color: #F6F6F6;
}

footer {
    background-color: var(--primary-color);
}

@media (min-width: 800px) {
    h1 {
        font-size: 5.6rem;
    }

    h2 {
        font-size: 4rem;
    }

}